.ohead{
    /* margin-top: 40px; */
    background-color: rgb(221,230,225);
    align-items: center;
}
.oheading{
    background-color: rgb(188,198,192);
    text-align: center;
    margin-bottom: 15px;
}
.fbox{
    background-color: rgb(188,198,192);
    margin-top: 10px;
}